BOT_TOKEN=8611613069:AAGc8GsTQmc4yCx6PdaOIBjn5yLWbxOvGSs
ADMIN_CHAT_ID=5372717005

COMPANY_PHONE=+967782611415
WHATSAPP_NUMBER=967782611415
COMPANY_EMAIL=info@example.com
COMPANY_WEBSITE=https://example.com
COMPANY_LOCATION=اليمن


